div.quienes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

div.quienes-content {
    width: 80%;
    text-align: justify;
}

.quienes-content h1 {
    text-align: center;
}